<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tvseries">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_tv"
        android:label="@string/label_tv_series"
        android:roundIcon="@mipmap/ic_tv_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TVSeries">
        <activity
            android:name=".view.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.details.DetailsActivity"
            android:label="@string/label_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.favoriteshows.FavoriteShowsActivity"
            android:label="@string/label_favorites"
            android:screenOrientation="portrait" />
    </application>

</manifest>